body {
    margin: 0;
    font-family: 'Mohave', sans-serif;
    /* background-image: url();
    background-repeat: no-repeat; */
    font-size: 14px;
    
  
  }
  #span-name:hover{
    
    background-color: red;
  }
  #headerh1:hover{
    color: red;
  }
  
  h1 {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    
  }
  
  p{
    text-align: left;
  }
  .page-header h1 {
    color: black;
    height: auto;
    margin: 0;
  }
  
  .page-header {
    height: auto;
    background-color: rgb(192, 192, 5); 
  }
  
  .navbar {
    /* font-family: Ubuntu, Arial, Helvetica, sans-serif; */
    font-weight: 300;
    display: block;
    text-align: center;
    border-bottom: solid 1px rgb(190, 236, 234);
    /* background-color: rgb(190, 236, 234); */
  
  }
  
  .navbar ul {
    margin: 0;
    list-style-type: none;
    display: inline;
    padding-right: 0px;
  }
  
  .navbar li {
    display: inline-block;
    width: 120px;
    padding: 10px;
    border: none;
    text-align: center;
    border-radius: 10px;
  }
  .navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 80px;
    height: 30px;
    padding-top: 10px;
  }
  .navbar a:hover,.footer-navbar a:hover {
    background-color:rgb(192, 192, 5);
    border: none;
    border-radius: 5px;
  }
  .container{
    width: 80%;
    margin: 50px auto;
  }
  .contact-box{
    background: #fff;
    display: flex;
  }
  .contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
  }
  .contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    
    color: #fff;
  }
  h1{
    margin-bottom: 10px;
  }
  .container p{
    margin-bottom: 40px;
  }
  .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .input-row .input-group{
    flex-basis: 45%;
  }
  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: 5px;
  }
  textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }
  label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
  }
  button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 0px rgba(28, 0, 181, 0.3);
  }
  .contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
  }
  tr rd:first-child{
    padding-right: 20px;
  }
  tr td{
    padding-top: 20px;
  }
.pag1{
    font-size: larger;
    font-size: 20px;
}
button:hover{
    color: red;
    background-color: yellow;
}


/* footer */

.page-footer {
    margin-top: 100px;
    height: auto;
    background-color: #ccc;
    position: relative;
    bottom: 0;
  }
  
  .footer-navbar {
    display: inline-block;
    margin-left: 160px;
    vertical-align: top;
  }
  .footer-navbar ul {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0px;
  }
  .footer-navbar li {
    display: block;
    width: 220px;
    padding: 10px;
    text-align: center;
  }
  .footer-navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 80px;
  }
  #footer-text {
    font-size: 15px;
    text-align: center;
    color: gray;
    margin-bottom: 0;
  }