body {
    margin: 0;
    font-family: 'Mohave', sans-serif;
    /* background-image: url();
    background-repeat: no-repeat; */
    
    

  }
  #span-name:hover{
    
    background-color: red;
  }
  #headerh1:hover{
    color: red;
  }
  
  #headerh1:hover{
    color: red;

  }
  
  h1 {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    
  }

  p{
    text-align: left;
  }
  .page-header h1 {
    color: black;
    height: auto;
    margin: 0;
  }
  
  .page-header {
    height: auto;
    background-color: rgb(192, 192, 5); 
  }
  
  .navbar {
    /* font-family: Ubuntu, Arial, Helvetica, sans-serif; */
    font-weight: 300;
    display: block;
    text-align: center;
    border-bottom: solid 1px rgb(190, 236, 234);
    /* background-color: rgb(190, 236, 234); */
  
  }
  
  .navbar ul {
    margin: 0;
    list-style-type: none;
    display: inline;
    padding-right: 0px;
  }
  
  .navbar li {
    display: inline-block;
    width: 120px;
    padding: 10px;
    border: none;
    text-align: center;
    border-radius: 10px;
  }
  .navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 80px;
    height: 30px;
    padding-top: 10px;
  }
  .navbar a:hover,.footer-navbar a:hover {
    background-color:rgb(192, 192, 5);
    border: none;
    border-radius: 5px;
  }
  main{
    display: flex;
    justify-content: space-evenly;
  }
main header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    
  }
  #intro{
    margin-top: 20px;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
  }
  #intro article{
    padding: 50px;
  }
  #intro h1{
    text-align: left;
    font-size: 60px;
    margin: 20px;

  }
  #intro h3{
    text-align: left;
    font-size: 30px;
    margin: 20px;

  }
  .button1{
    background-color: yellow;
    margin: 10px;
    width: 10rem;
    height: 2rem;
    border-radius: 50px;
    text-decoration: none;
  }
  .button1 a{
    text-decoration: none;

  }
  .button1:hover{
    background-color: red;
    text-decoration: overline underline;

  }

  #intro figure img{
    width: 400px;
    border-radius: 50%;
    height: 400px; ;
  }

  .page-footer {
    margin-top: 100px;
    height: auto;
    background-color: #ccc;
    position: relative;
    bottom: 0;
  }
  
  .footer-navbar {
    display: inline-block;
    margin-left: 160px;
    vertical-align: top;
  }
  .footer-navbar ul {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0px;
  }
  .footer-navbar li {
    display: block;
    width: 220px;
    padding: 10px;
    text-align: center;
  }
  .footer-navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    width: 80px;
  }
  #footer-text {
    font-size: 15px;
    text-align: center;
    color: gray;
    margin-bottom: 0;
  }
 